
#Intro {
	text-align: center;
}

.introTxt {
  margin-left: 20%;
  margin-right: 20%;
}

body {
  font-family: sans-serif;
}

.container {

  margin: auto;
  max-width: 600px;

}

form {
  padding: 20px;
}

label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 100%;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
}

button[type="submit"] {
  padding: 10px;
  background-color: #5D5454;
  border: none;
  color: #fff;
}


#error {
  color: red;
  margin-top: 10px;
}
